<div class="mat-display-1" style="margin-bottom:16px">Cari Post</div>
<mat-card class="filter-container">
  <mat-form-field class="category">
      <mat-select [(value)]="query.category"  placeholder="Kategori">
        <mat-option>-- None --</mat-option>
        <mat-option *ngFor="let cat of categories" value={{cat.id}}>{{cat.name}}</mat-option>
      </mat-select>
  </mat-form-field>  
  <mat-form-field class="dinas">
      <mat-select [(value)]="query.dinas"  placeholder="Dinas">
        <mat-option>-- None --</mat-option>
        <mat-option *ngFor="let dinas of dinasList" value={{dinas.id}}>{{dinas.name}}</mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field class="keyword">
      <input matInput placeholder="Judul Post" [(ngModel)]="query.title" type="text">
  </mat-form-field>
  <mat-checkbox [(ngModel)]="query.followed" class="followed">Hanya Diikuti</mat-checkbox>
  <mat-checkbox [(ngModel)]="query.answered" class="answered">Hanya Terjawab</mat-checkbox>
  <mat-checkbox [(ngModel)]="query.datefilter" class="datefilter">Saring Berdasarkan Tanggal</mat-checkbox>
  <div *ngIf="query.datefilter" class="dateFilter">
    <mat-form-field>
        <input matInput [max]="dateUntil?.value" [matDatepicker]="dpFrom" placeholder="Dari tanggal" [formControl]="dateFrom">
        <mat-datepicker-toggle matSuffix [for]="dpFrom"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #dpFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="dpUntil" placeholder="Sampai tanggal" [formControl]="dateUntil">
        <mat-datepicker-toggle matSuffix [for]="dpUntil"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #dpUntil></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="cariBtnContainer" [class.marginTop8px]="!query.datefilter">
      <button mat-raised-button color="primary" (click)="onSearch()">Cari</button>
      <div style="margin: 0px 8px"></div>
      <button mat-raised-button color="link">Cari berdasarkan lokasi</button>
  </div>
</mat-card>
<div class="filteredPostsPreview" >
  <app-post-preview-item *ngFor="let post of filteredPosts" [post]="post"></app-post-preview-item>
</div>
<mat-paginator [length]="resultlength"
              [pageSize]="query.size"
              [pageSizeOptions]="[5, 10, 25, 100]"
              [pageIndex]="query.page"
              (page)="pageEvent($event)">
</mat-paginator>