<div class="mat-display-1" style="margin-bottom:16px">Cari Post</div>
<div class="filter-container">
  <mat-form-field class="category">
      <mat-select [(value)]="query.category"  placeholder="Kategori">
        <mat-option>-- None --</mat-option>
        <mat-option *ngFor="let cat of cService.getCategories()" value={{cat.id}}>{{cat.name}}</mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field class="keyword">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let keyword of query.keywords" (remove)="remove(keyword)" [selectable]="false">
          {{keyword}}
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Kata kunci (5 max)..."
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)" [disabled]="query.keywords.length >= 5"/>
      </mat-chip-list>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="query.onlyAnswered" class="onlyAnswered">Hanya Terjawab</mat-checkbox>
  <mat-checkbox [(ngModel)]="query.isDateFiltered" class="isDateFiltered" (change)="onDateFilterChange()">Saring Berdasarkan Tanggal</mat-checkbox>
  <div *ngIf="query.isDateFiltered" class="dateFilter">
    <mat-form-field>
        <input matInput [max]="dateUntil?.value" [matDatepicker]="dpFrom" placeholder="Dari tanggal" [formControl]="dateFrom" (dateChange)="dateFromC($event)">
        <mat-datepicker-toggle matSuffix [for]="dpFrom"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #dpFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="dpUntil" placeholder="Sampai tanggal" [formControl]="dateUntil" (dateChange)="dateUntilC($event)">
        <mat-datepicker-toggle matSuffix [for]="dpUntil"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #dpUntil></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="cariBtnContainer" [class.marginTop8px]="!query.isDateFiltered">
      <button mat-raised-button color="primary" (click)="onSearch()" [routerLink]="['/cari']" [queryParams]="query">Cari</button>
      <div style="margin: 0px 8px"></div>
      <button mat-raised-button color="link">Cari berdasarkan lokasi</button>
  </div>
</div>
<div class="filteredPostsPreview" >
  <app-post-preview-item *ngFor="let post of getFilteredPosts(pageEvent)" [post]="post"></app-post-preview-item>
</div>
<mat-paginator [length]="filteredPosts.length"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="pageEvent = $event">
</mat-paginator>