.filter-container {
  display: grid;
}

@media screen and (max-width: 1170px){
  .filter-container {
    grid-template-areas: 
      "category"
      "dinas" 
      "keyword"
      "self"
      "followed"
      "answered"
      "datefilter"
      "dateFilter"
      "cariBtnContainer";
  }
}

@media screen and (min-width: 1170px){
  .filter-container {
    grid-template-areas: 
      "category dinas answered self" 
      "category dinas datefilter followed" 
      "keyword keyword dateFilter dateFilter"
      "cariBtnContainer cariBtnContainer cariBtnContainer cariBtnContainer";

    grid-template-columns: auto auto 27% 23%;
    grid-column-gap: 16px;
  }
}

.category {
  grid-area: category;
}

.keyword {
  grid-area: keyword;
}

.answered {
  grid-area: answered;
}

.dinas {
  grid-area: dinas;
}

.self {
  grid-area: self;
}

.followed {
  grid-area: followed;
}

.datefilter {
  grid-area: datefilter;
}

.dateFilter {
  grid-area: dateFilter;
  margin-top: 6px;
}

.cariBtnContainer {
  display: inline-flex;
  grid-area: cariBtnContainer;
}

@media screen and (max-width: 1170px){
  .marginTop8px {
    margin-top: 8px;
  }
}

.filteredPostsPreview {
  margin: 16px 0px;
}

mat-paginator {
  margin-bottom: 36px;
}