.filter-container {
  display: grid;
}

@media screen and (max-width: 1170px){
  .filter-container {
    grid-template-areas: 
      "category" 
      "keyword"
      "followed"
      "answered"
      "datefilter"
      "dateFilter"
      "cariBtnContainer";
  }
}

@media screen and (min-width: 1170px){
  .filter-container {
    grid-template-areas: 
      "category followed answered" 
      "category datefilter datefilter" 
      "keyword dateFilter dateFilter"
      "cariBtnContainer cariBtnContainer cariBtnContainer";

    grid-template-columns: 50% 27% 23%;
    grid-column-gap: 16px;
  }
}

.category {
  grid-area: category;
}

.keyword {
  grid-area: keyword;
}

.answered {
  grid-area: answered;
}

.followed {
  grid-area: followed;
}

.datefilter {
  grid-area: datefilter;
}

.dateFilter {
  grid-area: dateFilter;
  margin-top: 6px;
}

.cariBtnContainer {
  display: inline-flex;
  grid-area: cariBtnContainer;
}

@media screen and (max-width: 1170px){
  .marginTop8px {
    margin-top: 8px;
  }
}

.filteredPostsPreview {
  margin: 16px 0px;
}

mat-paginator {
  margin-bottom: 36px;
}