<div class="mat-display-1" style="margin-bottom:16px">Edit Jawaban</div>
<mat-card style="margin-bottom:28px">
  <mat-progress-bar mode="query" *ngIf="isLoading.reply" style="margin-bottom:16px"></mat-progress-bar>
  <span class="add-jawaban-container" *ngIf="!isLoading.reply">
    <div class="title mat-title">
      {{post?.title}}
    </div>
    <text-editor class="jawaban" [bounds]="p" placeholder="Tambahkan jawaban..." (onCreated)="onTextEditorCreated($event)"></text-editor>
  </span>
  <div class="edit-btn-container">
      <button mat-raised-button color="primary" (click)="onEditJawaban()" [disabled]="isLoading.reply || isLoading.edit">Terapkan Perubahan</button>
  </div>
  <mat-progress-bar mode="query" *ngIf="isLoading.edit" style="margin-top:16px"></mat-progress-bar>
</mat-card>