.Active {
  color: #2196f3;
}

.pointer.Active:hover {
  color: #68aee7 !important;
}

mat-icon {
  color: #888888;
}

.pointer:hover {
  cursor: pointer;
  color: #2196f3;
}

:host {
  display: inline-flex;
  width:100%;
}

.filler {
  flex-grow: 1;
}