<div class="mat-display-1" #el>Kelola Admin</div>
<mat-card>
  <div class="mat-headline" *ngIf="!isEditing">Tambah</div>
  <div class="mat-headline" *ngIf="isEditing">Edit</div>
  <div class="tambah-container">
      <mat-form-field class="field-a">
          <input matInput placeholder="Email" minlength="4" type="email" [formControl]="emailFormControl" required>
          <mat-error *ngIf="(emailFormControl.hasError('email') || emailFormControl.hasError('required'))">
              Alamat email <strong>diperlukan</strong> dengan format email@domain.com
          </mat-error>
      </mat-form-field>
      <mat-form-field class="dinas">
          <mat-select [(value)]="dinas"  placeholder="Dinas" required>
            <mat-option *ngFor="let d of dinaslist" value={{d.id}}>{{d.name}}</mat-option>
          </mat-select>
      </mat-form-field>
      <div>
        <a *ngIf="!isEditing" mat-raised-button color="primary" (click)="onAddAdmin(emailFormControl.value, dinas)" [disabled]="!(emailFormControl.valid)" class="admin-btn">Tambah</a>
        <a *ngIf="isEditing" mat-raised-button color="primary" (click)="onEditAdmin(emailFormControl.value, dinas)" class="admin-btn">Edit</a>
        <a *ngIf="isEditing" mat-raised-button (click)="onCloseEditMode()" class="admin-btn">Batal</a>
      </div>
  </div>
</mat-card>

<div class="mat-headline">Daftar</div>
<div class="daftar-admin-container">
  <mat-card *ngFor="let admin of admins" class="daftar-admin-item">
      <div style="text-align: center; font-size: 16px">{{admin.email}}</div>
      <div style="text-align: center; font-size: 16px">{{admin.dinas}}</div>
      <div class="toolbar" *ngIf="isSuperUser || admin.dinasId != 1">
        <button mat-icon-button (click)="onDeleteAdmin(admin.email, admin.dinasId)"><mat-icon>close</mat-icon></button>
        <button mat-icon-button (click)="editModeOn(el, admin.email, admin.dinasId)"><mat-icon>edit</mat-icon></button>
      </div>
  </mat-card>
</div>