.jawabanToolbar {
  display: inline-flex;
  width: 100%;
}

.filler {
  flex-grow: 1;
}

.pointer {
  cursor: pointer;
}

.title {
  margin: 8px 0px; 
  line-height: 130%;
}

:host {
  display: inherit;
  word-wrap: break-word;
}

.infoContainer {
  display: inline-flex;
  font-size: small;
  flex-wrap: wrap;
}

.info {
  margin-right: 8px;
}


