<mat-card>
  <app-post-toolbar [data]="post" [isShown]="true"></app-post-toolbar>
  <div class="infoContainer">
    <div class="info">{{post?.dinas}}</div>
    <div class="info">{{post?.category}}</div>
    <div class="info">{{post?.author.name}}</div>
    <div class="info">{{post?.createdAt | date: 'dd MMMM yyyy'}}</div>
  </div>
  <div class="title mat-title">{{post?.title | titlecase}}</div>
  <div class="mat-body-1">{{post?.description}}</div>
</mat-card>
<mat-card>
  <div class="mat-headline" style="margin: 0px 0px 8px 0px">Jawaban</div>
  <div *ngIf="reply != null; else notfound">
    <div *ngIf="canAnswer" class="jawabanToolbar">
        <mat-icon class="pointer" routerLink="jawaban/edit">settings</mat-icon> 
        <div class="filler"></div>
        <mat-icon (click)="onDeleteReply()" class="pointer">delete_forever</mat-icon> 
    </div>
    <div class="mat-body-1">{{reply?.body}}</div>
  </div>
</mat-card>

<ng-template #notfound>
  <div class="mat-subheading-1" *ngIf="!canAnswer">Belum dijawab</div>
  <a mat-raised-button *ngIf="checkCanAnswer()" mat-button-raised color="primary" routerLink="jawaban/tambah">Jawab</a>
</ng-template>