<mat-card class="masuk-card">
    <h1 class="mat-headline">Masuk</h1>
    <div class="auth-fields-container">
        <mat-form-field class="field-a">
          <input matInput placeholder="Email" minlength="4" type="email" [formControl]="emailFormControl" required>
          <mat-error *ngIf="emailFormControl.hasError('required')">
              Alamat email <strong>diperlukan</strong>.
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Format Salah. Yang benar <strong>email@domain.com</strong>.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="field-a">
          <input matInput placeholder="Password" type="password" [formControl]="passwordFormControl" required>
          <mat-error *ngIf="passwordFormControl.hasError('minlength') || passwordFormControl.hasError('required')">
              Panjang Password minimal <strong>5</strong> karakter
          </mat-error>
        </mat-form-field>
    </div>
    <a mat-raised-button color="primary" (click)="onMasuk()" [disabled]="!(passwordFormControl.valid && emailFormControl.valid)" style="margin-top: 8px">Masuk</a>
    <a mat-button routerLink="/daftar">Belum punya? Daftar</a>
</mat-card>