<div class="mat-display-1">Post Teratas</div>
<div class="section-title">
  <div class="mat-headline">Umum</div><div class="filler"></div>
  <a mat-raised-button routerLink="/post/umum/">selengkapnya ...</a>
</div>
<app-post-preview-item *ngFor="let post of posts" [post]="post"></app-post-preview-item>
<div class="separator"></div>
<div class="section-title">
    <div class="mat-headline">Pariwisata</div><div class="filler"></div>
    <a mat-raised-button routerLink="/post/pariwisata/">selengkapnya ...</a>
</div>
<app-post-preview-item *ngFor="let post of posts" [post]="post"></app-post-preview-item>
<div class="bottom"></div>