<div class="mat-display-1">Daftar Post</div>

<span *ngIf="isAdmin()">
  <div class="section-title">
    <div class="mat-headline filler">Belum dijawab</div>
    <a mat-raised-button routerLink="/post" [queryParams]="{ req: 'Belum Dijawab' }">selengkapnya ...</a>
  </div>
  <mat-progress-bar mode="query" *ngIf="isLoading.customizedPost"></mat-progress-bar>
  <div *ngIf="!customizedPost && !isLoading.customizedPost">Tidak ada</div>
  <app-post-preview-item *ngFor="let post of customizedPost" [post]="post"></app-post-preview-item>
</span>

<span *ngIf="canPost()">
  <div class="section-title">
    <div class="mat-headline filler">Post Saya</div>
    <a mat-raised-button routerLink="/post" [queryParams]="{ req: 'Post Saya' }">selengkapnya ...</a>
  </div>
  <mat-progress-bar mode="query" *ngIf="isLoading.customizedPost"></mat-progress-bar>
  <div *ngIf="!customizedPost && !isLoading.customizedPost">Tidak ada</div>
  <app-post-preview-item *ngFor="let post of customizedPost" [post]="post"></app-post-preview-item>
</span>

<div class="separator"></div>

<span *ngIf="canPost()">
  <div class="section-title">
    <div class="mat-headline filler">Post Yang diikuti</div>
    <a mat-raised-button routerLink="/post" [queryParams]="{ req: 'Post Yang Diikuti' }">selengkapnya ...</a>
  </div>
  <mat-progress-bar mode="query" *ngIf="isLoading.followedPost"></mat-progress-bar>
  <div *ngIf="!followedPost && !isLoading.followedPost">Tidak ada</div>
  <app-post-preview-item *ngFor="let post of followedPost" [post]="post" [followedPost]="true"></app-post-preview-item>
</span>

<div class="separator"></div>

<div class="section-title">
    <div class="mat-headline">Terbaru</div><div class="filler"></div>
    <a mat-raised-button routerLink="/post" [queryParams]="{ req: 'terbaru'}">selengkapnya ...</a>
  </div>
  <mat-progress-bar mode="query" *ngIf="isLoading.post"></mat-progress-bar>
  <app-post-preview-item *ngFor="let post of posts" [post]="post"></app-post-preview-item>
<div class="bottom"></div>