<div class="mat-display-1" style="margin-bottom: 16px">Bantuan</div>
<mat-accordion>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Arti Simbol - Simbol (icons)
			</mat-panel-title>
		</mat-expansion-panel-header>

		<div class="HelpPanel help-icon">
				<mat-icon>search</mat-icon> 
				<div class="mat-body-1">Cari pertanyaan yang sudah ada</div>
				<mat-icon>create</mat-icon> 
				<div class="mat-body-1">Buat pertanyaan baru</div>
				<mat-icon>check_circle</mat-icon> 
				<div class="mat-body-1">Pertanyaan sudah dijawab</div>
				<div style="display:inline-flex">
					<mat-icon>star</mat-icon>
					<div class="mat-caption" style="line-height: 200%">20</div>
				</div>
				<div class="mat-body-1">ada 20 orang bertanya mengenai pertanyaan tersebut. Tap + jika ingin menanyakan hal yang sama.</div>
				<mat-icon>flag</mat-icon> 
				<div class="mat-body-1">Lapor pertanyaan yang mengandung SARA, bully, offensive dan tidak sesuai aturan</div>
				<mat-icon>settings</mat-icon> 
				<div class="mat-body-1">Edit pertanyaan / jawaban</div>
				<mat-icon>import_export</mat-icon> 
				<div class="mat-body-1">Disposisi / batalkan disposisi pertanyaan</div>
				<mat-icon>delete_forever</mat-icon> 
				<div class="mat-body-1">Hapus pertanyaan / jawaban</div>
		</div>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Aturan Buat Post
			</mat-panel-title>
		</mat-expansion-panel-header>

		<div class="HelpPanel help-post">
			<div class="mat-body-1">1</div><div class="mat-body-1">Cari post yang ingin dibuat, mungkin post sudah ada. Simpan post dengan menekan follow (<mat-icon class="icon-small">star</mat-icon>)</div>
			<div class="mat-body-1">2</div>
			<div>
					<div class="mat-body-1">Gunakan judul dengan struktur kalimat tanya (5W/1H + S + P + O).</div>
					<div class="mat-body-2">Contoh judul: Apakah ada subsidi untuk pembelian panel surya?</div>
			</div>
			<div class="mat-body-1">3</div>
			<div>
					<div class="mat-body-1">Gunakan min 3 kata kunci dan max 5 kata kunci. </div>
					<div class="mat-body-2">Contoh kata kunci: Subsidi, panel surya, listrik</div>
			</div>
		</div>
	</mat-expansion-panel>

	<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Kategori Pertanyaan
				</mat-panel-title>
			</mat-expansion-panel-header>
	
			<div class="HelpPanel">
					Pertanyaan yang baru diajukan otomatis masuk kategori umum. Pertanyaan akan dipindahkan ke kategori khusus jika admin kominfo menilai pertanyaan butuh jawaban yang rinci.
			</div>
		</mat-expansion-panel>

</mat-accordion>