<div class="mat-display-1" style="margin-bottom:16px">Tambah Post</div>
<mat-card class="add-post-container">
  <mat-form-field class="title">
    <input matInput placeholder="Judul" minlength="15" type="text" [formControl]="titleFormControl" required>
    <mat-error *ngIf="titleFormControl.hasError('required') || titleFormControl.hasError('minlength')">
        Judul <strong>diperlukan</strong> dengan panjang minimum 15 karakter.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="keyword">
    <mat-select [(value)]="category"  placeholder="Kategori" required>
        <mat-option *ngFor="let cat of cService.getCategories()" value={{cat.id}}>{{cat.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="description">
    <textarea matInput placeholder="Deskripsi" matTextareaAutosize matAutosizeMinRows="10" [(ngModel)]="description"></textarea>
  </mat-form-field>

  <div class="add-btn-container">
      <button mat-raised-button color="primary" (click)="onTambahPost()" [disabled]="!titleFormControl.valid || !category">Tambah</button>
      <div style="margin: 0px 8px"></div>
      <button mat-raised-button color="link" [disabled]="!titleFormControl.valid || !category">Tambah dengan lokasi</button>
  </div>
</mat-card>