.field-a {
  margin-bottom: 4px;
}

:host {
  display:flex;
  justify-content: center;
}

.masuk-card {
  max-width:380px; 
  flex: 1; 
  margin-top:24px;
}

.auth-fields-container {
  flex-direction:column; 
  box-sizing:border-box; 
  display:flex;
}