<mat-card class="masuk-card">
    <h1 class="mat-headline">Daftar</h1>
    <div class="auth-fields-container">

        <mat-form-field class="field-a">
          <input matInput placeholder="Nama Lengkap" [(ngModel)]="nama" type="text" [formControl]="namaFormControl" required>
          <mat-error *ngIf="namaFormControl.hasError('required')">
              Nama lengkap <strong>diperlukan</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field-a">
            <input matInput placeholder="Email" minlength="4" [(ngModel)]="email" type="email" [formControl]="emailFormControl" required>
            <mat-error *ngIf="emailFormControl.hasError('email') || emailFormControl.hasError('required')">
                Alamat email <strong>diperlukan</strong> dengan format email@domain.com
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field-a">
          <input matInput placeholder="NIK" [(ngModel)]="nik" type="text" [formControl]="nikFormControl" required>
          <mat-error *ngIf="nikFormControl.hasError('pattern') || nikFormControl.hasError('required')">
            NIK <strong>diperlukan</strong> dengan format yang benar
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field-a">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" [formControl]="passwordFormControl" required>
            <mat-error *ngIf="passwordFormControl.hasError('minlength')">
                Panjang Password minimal <strong>5</strong> karakter
            </mat-error>
        </mat-form-field>

    </div>
    <a mat-raised-button color="primary" (click)="onDaftar()" [disabled]="!(emailFormControl.valid && namaFormControl.valid && nikFormControl.valid && passwordFormControl.valid)" style="margin-top: 8px">Daftar</a>
    <a mat-button routerLink="/masuk">Sudah Punya? Masuk</a>
</mat-card>