<mat-form-field style="width:100%" [class.hide]="isLoading.dinas">
  <mat-select [value]="post?.dinasId.toString()"  placeholder="Dinas" #select>
    <mat-option *ngFor="let dinas of dinasList" value={{dinas.id}}>{{dinas.name}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-progress-bar mode="query" *ngIf="isLoading.dinas" style="margin-bottom:16px"></mat-progress-bar>
<div style="display:inline-flex">
  <button mat-raised-button color="primary" (click)="disposisi(select.value)" [disabled]="isLoading.dinas || isLoading.disposisi">Disposisi</button>
  <div style="margin: 0px 8px"></div>
  <button mat-raised-button (click)="onNoClick()">Batal</button>
</div>
<mat-progress-bar mode="query" *ngIf="isLoading.disposisi" style="margin-top:16px"></mat-progress-bar>