<div class="mat-display-1" #el>Kelola Kategori</div>
<mat-card>
  <div class="mat-headline" *ngIf="!isEditing">Tambah</div>
  <div class="mat-headline" *ngIf="isEditing">Edit Kategori id: {{categoryId}}</div>
  <div class="tambah-container">
      <mat-form-field class="field-a">
          <input matInput placeholder="Nama Kategori" minlength="4" type="text" [formControl]="formControl" required>
          <mat-error *ngIf="(formControl.hasError('minlength') || formControl.hasError('required'))">
              Nama kategori <strong>diperlukan</strong> minimal 4 karakter
          </mat-error>
      </mat-form-field>
      <div>
        <a *ngIf="!isEditing" mat-raised-button color="primary" (click)="onAddCategory(formControl.value)" [disabled]="!(formControl.valid) || isLoading.manage" class="admin-btn">Tambah</a>
        <a *ngIf="isEditing" mat-raised-button color="primary" (click)="onEditCategory(categoryId, formControl.value)" class="admin-btn" [disabled]="isLoading.manage">Edit</a>
        <a *ngIf="isEditing && !isLoading.manage" mat-raised-button (click)="onCloseEditMode()" class="admin-btn">Batal</a>
      </div>
  </div>
  <mat-progress-bar mode="query" *ngIf="isLoading.manage" style="margin-top:16px"></mat-progress-bar>
</mat-card>

<div class="mat-headline">Daftar Kategori</div>
<mat-progress-bar mode="query" *ngIf="isLoading.category" style="margin-bottom:16px"></mat-progress-bar>
<div class="daftar-container">
  <mat-card *ngFor="let cat of categories" class="daftar-item">
      <div style="text-align: center; font-size: 16px">{{cat.id}}</div>
      <div style="text-align: center; font-size: 16px">{{cat.name}}</div>
      <div class="toolbar">
        <button mat-icon-button (click)="editModeOn(el, cat.id, cat.name)"><mat-icon>edit</mat-icon></button>
      </div>
  </mat-card>
</div>